hadoop-java/hadoop-java-spring/hadoop-java-spring-core/src/main/resources/META-INF/school.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.sciatta.com/schema/definitionparser"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            targetNamespace="http://www.sciatta.com/schema/definitionparser"
            elementFormDefault="qualified">

    <xsd:import namespace="http://www.springframework.org/schema/beans"/>

    <xsd:element name="school" type="schoolType"/>

    <xsd:complexType name="schoolType">
        <xsd:complexContent>
            <xsd:extension base="beans:identifiedType">
                <xsd:sequence>
                    <xsd:element name="klass" type="klassType" maxOccurs="unbounded"/>
                </xsd:sequence>
                <xsd:attribute name="name" type="xsd:string"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="klassType">
        <xsd:sequence>
            <xsd:element name="student" type="StudentType" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string"/>
    </xsd:complexType>

    <xsd:complexType name="StudentType">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="age" type="xsd:positiveInteger"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>